<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Trasy</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let route of routes">
    <ion-card-header>
      <b>{{ route?.name }}</b>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="descSliced">
        {{ route?.desc | slice:0:300 }}
        <span>...</span>
        <a (click)="readMore()">Więcej</a>
      </p>
      <p *ngIf="!descSliced">
        {{ route?.desc }}
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col text-center>
        <ion-icon name="navigate" color="accent"></ion-icon>
        <span>{{ route?.distance }}</span>
      </ion-col>
      <ion-col text-center>
        <ion-icon name="time" color="accent"></ion-icon>
        <span>{{ route?.time }}</span>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
